.navbar-inner
{ 
    background-color: transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#212121,endColorstr=#212121); 
    zoom: 1;
}
.sidebar .blog-item .image{
    float: none;
}
.sidebar .pavblog-latest .blog-item img{
    width: 50%;
}